body{
    height: 100vh;
}


#library{
    display:grid;
    grid-template-columns: repeat(2, 200px);
    gap: 12px;
    grid-auto-rows: 200px;
    height:100%;
}

.bookcard{
    border-radius:12px;
    border-color:aqua;
    border-style:solid;
}

p{
    white-space:pre-line;
}
span{
    font-size: 16pt;
    font-weight:bold;
}
